body {
    background-image: url(../images/Pokemon\ Background.jpg);
    /* background-size: 1500px 768px; */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
@font-face {
    font-family: "pokemonFont";
    src: url("../font/Pokemon\ GB.ttf");
}
.top-buffer {
    margin-top: 100px;
}
.pokemon-logo {
    width: 600px;
    height: 200px;
}
.intro-box{
    position: relative;
    margin-top: 250px;
    margin-left: 150px;
    font-family: "pokemonFont";
}
.guessing-box {
    position: relative;
    color: blue;
    margin: auto;
    font-size: 25px;
    margin-right: 110px;
    margin-top: 190px;
}
.hangman {
    margin-left: 130px;
}